@import url('https://fonts.googleapis.com/css2?family=Gorditas:wght@700&family=Inter&display=swap');

:root {
  --background-color: #9b0000;
  --background-color-claro: #9b000040;
}

.container {
  height: 100%;
  width: 100%;
}

.main {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.nav,
.footer {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  flex-direction: row;
}

.nav {
  font-family: 'Gorditas', cursive;
  height: 167px;
}

.title {
  font-size: 75px;
  font-weight: bold;
  color: white;
  margin-left: calc(20% - 50px);
}

.form {
  font-size: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'a  d  f'
    'b  e  .'
    'c  .  .';
}

.form input {
  font-size: 30px;
}

#nome {
  grid-area: a;
}
#email {
  grid-area: b;
}
#endereco {
  grid-area: c;
}
#cpf {
  grid-area: d;
}
#numero {
  grid-area: e;
}
#data_nasc {
  grid-area: f;
}
#violao {
  bottom: 120px;
  right: 40px;
  position: absolute;
  z-index: -1;
}

.footer {
  height: 100px;
}

input {
  outline: 0;
  border-width: 0 0 2px;
}

input:focus {
  border-color: var(--background-color);
}

section {
  padding: 1.2rem 0.8rem;
}

.cadastre-btn {
  font-family: 'Gorditas', cursive;
  background-color: black;
  color: white;
  font-size: 50px;
  border-radius: 25%;
  padding: 1rem;
  max-width: 400px;
}
